In [4]:
import pandas as pd
import numpy as np
import html5lib
# Read a URL and interpret
url = "http://www.fdic.gov/bank/individual/failed/banklist.html"
# read it
banks = pd.read_html(url)
# examine a subset of the first table read
banks[0][0:10].ix[:,0:4]

ImportError: html5lib not found, please install it

In [4]:
#other convenience of PD is ability write HTML on the fly#Experiemtn : read data from an csv file
#and write the output you needed into an html file

#beautiy of Pandas readng csv directly from web yahoo finance
df = pd.read_csv("http://ichart.yahoo.com/table.csv?s=MSFT&" +"a=5&b=1&c=2016&" +
                    "d=6&e=27&f=2016&" +
                    "g=d&ignore=.csv")
df[5:]

,Date,Open,High,Low,Close,Volume,Adj Close
5,2016-06-21,50.200001,51.430000,50.160000,51.189999,33989400,51.189999
6,2016-06-20,50.639999,50.830002,50.029999,50.070000,35559500,50.070000
7,2016-06-17,50.410000,50.430000,49.820000,50.130001,45670500,50.130001
8,2016-06-16,49.520000,50.470001,49.509998,50.389999,31101800,50.389999
9,2016-06-15,49.779999,50.119999,49.689999,49.689999,33559600,49.689999
10,2016-06-14,49.900002,50.099998,49.570000,49.830002,42159100,49.830002
11,2016-06-13,49.580002,50.720001,49.060001,50.139999,82852600,50.139999
12,2016-06-10,51.049999,52.049999,51.040001,51.480000,25698900,51.480000
13,2016-06-09,52.000000,52.000000,51.490002,51.619999,20203000,51.619999
14,2016-06-08,52.020000,52.439999,51.869999,52.040001,21089400,52.040001
15,2016-06-07,52.240002,52.730000,52.099998,52.099998,20794000,52.099998
16,2016-06-06,51.990002,52.349998,51.889999,52.130001,18109300,52.130001
17,2016-06-03,52.380001,52.419998,51.599998,51.790001,23081300,51.790001
18,2016-06-02,52.639999,52.740002,51.840000,52.480000,22565300,52.480000
19,2016-06-01,52.439999,52.950001,52.439999,52.849998,24772900,52.849998

In [15]:
#loading data from  Worldbank http://www.worldbank.org
#World Bank datasets are identified using indicators, a text code that represents 
#each dataset. A full list of indicators can be retrieved using the 
import pandas.io.wb as wb
# get all indicators
all_indicators = wb.get_indicators()
#examine indicators
#all_indicators.ix[:,0:1]
#asuming we know what an indicators is let us search based on some idicators
#for example search using pandas.io.wb.search() based on lifeexpectancy
#le_indicators = wb.search("life expectancy")
#le_indicators.iloc[:3,:5]
#observing the output and gettin ginto nitty gritties, like for example each indiactor is broken down country wise
#So we can retrieve a subset of country dat
#countries = wb.get_countries()
#countries.iloc[0:25].ix[:,['name', 'capitalCity', 'iso2c']]
#scrap the data udnerstand the inidcators then download and save it
#22800289
#ex:get the LE for all countries between 1989 to 2016
#le_data_all = wb.download(indicator="SP.DYN.LE00.IN",start='1989',end='2015')
#le_data_all
#whyonly US canada and mexico? #so let us check the index
#le_data_all.index.levels[0]
#so how to get more countries specify the country code
le_data_all = wb.download(indicator="SP.DYN.LE00.IN",country = countries['iso2c'],start='1980',end='2005')
#le_data_all
#Research question : Which country has lowest life exepctancy compare to all?
#how to do steps first pivot the data so that index is the country name and year is the column
#le_data = le_data_all.reset_index().pivot(index='country',columns='year')
# examine pivoted data
#le_data.ix[:,0:3]
#now to further the search we can now querry as ewlo to find ountry with the highest or lowest expectancy 
country_with_least_expectancy = le_data.idxmin(axis=0)
country_with_least_expectancy
#Pandoo 5story : pandas makes it simple to access data in various locations and formats, providing automatic mapping of data in these formats into 
#DataFrame  objects. We started with learning how to read and write data from local #files in CSV, HTML, JSON, HDF5, and Excel formats, reading into, and writing 
#directly, from DataFrame objects without having to worry about the details of #mapping the contained data into these various formats.

/Users/kiran/anaconda/lib/python3.5/site-packages/pandas/io/wb.py:268: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  data = data.sort(columns='id')
/Users/kiran/anaconda/lib/python3.5/site-packages/pandas/io/wb.py:144: UserWarning: Non-standard ISO country codes: 1A, 1W, 4E, 7E, 8S, A4, A5, A9, B8, C4, C5, C6, C7, C8, C9, EU, F1, JG, L4, L5, L6, L7, M1, M2, OE, S1, S2, S3, S4, XC, XD, XE, XJ, XK, XL, XM, XN, XO, XP, XQ, XR, XS, XT, XU, XY, Z4, Z7, ZF, ZG, ZJ, ZQ
  warnings.warn('Non-standard ISO country codes: %s' % tmp)

                year
SP.DYN.LE00.IN  1990          Rwanda
                1991          Rwanda
                1992          Rwanda
                1993          Rwanda
                1994          Rwanda
                1995          Rwanda
                1996          Rwanda
                1997    Sierra Leone
                1998    Sierra Leone
                1999    Sierra Leone
                2000    Sierra Leone
                2001    Sierra Leone
                2002    Sierra Leone
                2003        Zimbabwe
                2004        Zimbabwe
                2005        Zimbabwe
                2006        Zimbabwe
                2007        Zimbabwe
                2008         Lesotho
                2009         Lesotho
                2010         Lesotho
                2011         Lesotho
                2012         Lesotho
                2013       Swaziland
                2014       Swaziland
                2015       Swaziland
dtype: object